<h1 class="container bg-dark text-white text-center my-4 py-4">ngif Show: {{show}}</h1>
<div class="container">
  <button class="btn btn-warning" (click)="show=!show">Acción</button>
  <p class="text-info" *ngIf="show">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sequi quidem numquam, natus debitis perferendis ipsam, vitae
    ratione facilis dignissimos, culpa recusandae aliquid quae similique dolorum. Autem nobis praesentium nihil?</p>
  <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore consequatur iusto quibusdam illum explicabo qui porro et
    possimus repellendus, pariatur commodi, incidunt odio ut a perspiciatis quis itaque rem cum!</p>
</div>